# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Test Cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# OS Files
Thumbs.db
.DS_Store

# Ignore all datasets
datasets/

# Keep the folder structure
!datasets/
!datasets/.gitkeep
!datasets/nasa_power/
!datasets/global_wind_atlas/
!datasets/openstreetmap/
!datasets/sentinel/
!datasets/srtm/
!datasets/nasa_power/.gitkeep
!datasets/global_wind_atlas/.gitkeep
!datasets/openstreetmap/.gitkeep
!datasets/sentinel/.gitkeep
!datasets/srtm/.gitkeep