# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Test Cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# OS Files
Thumbs.db
.DS_Store